{% extends 'base.html' %}

{% block content %}
  <h4>Sign up</h4>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <span id="span-fixed">
        {{ field.label_tag }}<br>
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {{ field }}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </span>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}